<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/331b7f23-6820-4ef6-aa86-8490113285a2/resourcegroups/rg-au-learning-docker/providers/Microsoft.ContainerRegistry/registries/API20200128093814</ResourceId>
    <ResourceName>API20200128093814</ResourceName>
    <ResourceGroup>rg-au-learning-docker</ResourceGroup>
    <Subscription>VSE MSDN - Fahad Sarwar</Subscription>
    <RegistryUrl>https://api20200128093814.azurecr.io/</RegistryUrl>
    <UserName>API20200128093814</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c5e61fef-fb2b-4677-8759-2dbdb1ee122e</ProjectGuid>
  </PropertyGroup>
</Project>